/*

!/Classes
!/Configuration
!/Resources
!/Tests

!/.editorconfig
!/.gitignore
!/composer.json
!/CHANGELOG.md
!/Documentation
!/ext_conf_template.txt
!/ext_emconf.php
!/ext_localconf.php
!/LICENSE
!/README.md
