<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>

<f:section name="content">
    <f:flashMessages/>
    <f:if condition="{event}">
        <h1>{id}</h1>
        <f:render partial="Event/Properties" arguments="{event:event}"/>
        {event.description -> f:format.html()}
        <f:render partial="Event/Cta" arguments="{event:event}"/>
        <p>
            <f:link.action action="list">Back to list</f:link.action>
        </p>

        <h2>Upcoming events</h2>
        <f:for each="{event.dates}" as="date">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <f:format.date format="%H:%m - %d. %B %Y">{date.timestamp}</f:format.date>
                    </td>
                    <td>{date.status}</td>
                </tr>
                </tbody>
            </table>
        </f:for>
    </f:if>
</f:section>
</html>
